@font-face {
    font-family: GilroyLight;
    src: url("{% static 'site/font/Gilroy/Gilroy-Light.otf' %}") format("opentype");
}

@font-face {
    font-family: GilroyMedium;
    src: url("{% static 'site/font/Gilroy/Gilroy-Medium.otf' %}") format("opentype");
}

@font-face {
    font-family: GilroyRegular;
    src: url("{% static 'site/font/Gilroy/Gilroy-Regular.otf' %}") format("opentype");
}

body {
    color: #707070;
    font-size: 1rem;
    font-family: GilroyRegular,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.primary-color {
    background-color: #ff6666;
}

.font-primary {
    color: #707070;
}

.font-white {
    color: #ffffff;
}

.font-color-inactive {
    color: #707070;
    opacity: 0.5;
}

.btn-default {
    color: #707070;
    border-color: #707070;
    border-radius: 2rem;
    font-size: 2rem;
    opacity: 0.9;
}

.img-contain {
    max-height: 125px; 
    object-fit: contain;
}

.start-bar {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.end-bar {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.bg-default {
    border: 1px solid rgba(112,112,112,1);
    background-color: white;
}