@font-face {
    font-family: GilroyLight;
    src: url("{% static 'site/font/Gilroy/Gilroy-Light.otf' %}") format("opentype");
}

@font-face {
    font-family: GilroyMedium;
    src: url("{% static 'site/font/Gilroy/Gilroy-Medium.otf' %}") format("opentype");
}

@font-face {
    font-family: GilroyRegular;
    src: url("{% static 'site/font/Gilroy/Gilroy-Regular.otf' %}") format("opentype");
}

body {
    color: #707070;
    font-size: 1rem;
    font-family: GilroyRegular,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.primary-color {
    background-color: #ff6666;
}

.font-primary {
    color: #707070;
}

.font-white {
    color: #ffffff;
}

.font-color-inactive {
    color: #707070;
    opacity: 0.5;
}

.btn-default {
    color: #707070;
    border-color: #707070;
    border-radius: 2rem;
    font-size: 2rem;
    opacity: 0.9;
}

.btn-other {
    background-color: #ff6666;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.btn-disable {
    background-color: white;
    color: #707070;
    border-color: #707070;
    font-size: 1rem;
    opacity: 0.5;
}

.img-contain {
    max-height: 125px; 
    object-fit: contain;
}

.bg-status {
    background-color: #ffffff;
}

.bg-default {
    border: 1px solid rgba(112,112,112,1);
    background-color: rgba(0, 0, 0, 0);
    border-left: 0px;
}

.bg-fin {
    background-color: #ff6666;
}

.start-bar {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-left: 1px solid rgba(112,112,112,1);
}

.end-bar {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.default-card {
    border: 1px solid #707070;
    border-radius: 2rem;
}

.text-highlight {
    border-bottom: 3px solid #ff6666;
}

.card-split-right {
    border-right: 1px solid #707070;
}
       
.custom-bullet {
    padding-left: 1.5rem;
}

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    content: "\e036";
    font-family: 'Icons';
    font-size: 0.75rem;
    float: left;
    margin-top: 0.15rem;
    margin-left: -17px;
    color: #707070;
    opacity: 0.5;
}

.progress   {
    font-size: 0.9rem;
}

.progress a {
    color: white;
}

.progress a:hover {
    color: #707070;
    opacity: 0.5;
}

.btn-share {
    max-height: 3rem;
}

.img-mh {
    max-height: 10rem;
}

@media only screen and (max-width: 768px) {
    .card-split-right {
      border: 0px;
    }

    .progress   {
        font-size: 0.5rem;
    }

    .img-mh {
        max-height: 3rem;
    }
}