#ignore migrations
**/migrations
**/__pycache__
db.sqlite3

### Django ###
*.log
*.pot
*.pyc
**/static/import_export
**/static/django_select2
**/static/admin
**/static/debug_toolbar
media/**
### settings/base.py ###
**/settings/base.py
