<div class="col-md-12 p-md-0 p-3">
    <div class="row p-0 py-3 p-md-5">
    <div class="col-12 col-md-12 px-0 px-md-3 px-md-0 pt-3 pt-md-0">
        <div class="progress bg-status w-100" style="height: 3rem;">
        {% for k,v in kyp_comp.items %}
            {% if k == prop.id %}
                {% if v == 100 %}
                    <div class="progress-bar bg-default start-bar bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">KYP complete</div>
                {% else %}
                    <div class="progress-bar bg-default start-bar font-primary" title="KYP {{kyp_comp}}% complete" role="progressbar" style="width: 13.5%" aria-valuenow="{{kyp_comp}}" aria-valuemin="0" aria-valuemax="100">KYP pending</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in prop_file.items %}
            {% if k == prop.id %}
                {% if v.doc %}
                    <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><a href ="{{v.doc.url}}">Proposal sent/received <br/><u>Download</u></a></div>
                {% else %}
                    <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Proposal pending</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in mou_file.items %}
            {% if k == prop.id %}
                {% if v.doc %}
                    <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 19%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><a href ="{{v.doc.url}}">MoU Signed <br/><u>Download</u></a></div>
                {% else %}
                    <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 19%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">MoU pending</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in projstart_file.items %}
            {% if k == prop.id %}
                {% if v and v.doc %}
                    <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Partnership Kicked off</div>
                {% else %}
                    <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Kick off pending</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in projreport_file.items %}
            {% if k == prop.id %}
                {% if v and v.doc %}
                    <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Project Review</div>
                {% else %}
                    <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Project Review</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in impactreport_file.items %}
            {% if k == prop.id %}
                {% if v and v.doc %}
                    <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
                {% else %}
                    <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for k,v in finreview_file.items %}
            {% if k == prop.id %}
                {% if v.doc %}
                    <div class="progress-bar bg-default end-bar bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Financial Review</div>
                {% else %}
                    <div class="progress-bar bg-default end-bar font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Financial Review</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div> 
    </div>
    </div>
</div>