<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    {% load thumbnail %}
    
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="Malcolm Vaz">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

    <title>{% block title %}{% include "_brandname.html" %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">  
    <!-- Custom styles for this site -->
    {% block styles %}

    <link href="{% static 'site/css/open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'site/css/kyp.css' %}" rel="stylesheet">
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% block navbar %}
    {% comment %} Header code {% endcomment %}
    <div class="col-md-12">
      <div class="row primary-color px-md-5">
        <div class="row col-12 col-md-7 h-100 font-white align-self-center">
          <h2 class="col-md-12 text-left text-md-left">Proposal Tracker</h2>
          <h5 class="col-md-12 text-justify text-md-left"><small>Track Partner engagements, their background research etc. <a class="font-white" href="https://docs.google.com/presentation/d/1Nnr2KQytl9szoNZxqJBAltiNoNRSaOXT4D_l-Wkkm6w/edit?usp=sharing" target="_blank"><u>Click here to learn more.</u></a></small></h5>
        </div>
        <div class="col-12 col-md-5 font-primary">
          <div class="row h-100">
            <div class="offset-md-4 offset-sm-0 col-6 col-md-4">
              <img class="img-fluid img-contain h-100 w-100 py-1 py-md-5 img-mh" src="{% static 'site/img/logo-samhita-white.png' %}"/>
            </div>
            <div class="col-6 col-md-4">
              <img class="img-fluid img-contain h-100 w-100 py-1 py-md-5 img-mh" src="{% static 'site/img/logo-cgf-white.png' %}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock navbar %}

    {% block messages %}
    {% endblock %}

    {% block splash %}
    {% endblock splash %}
    
    {% block container %}
    {% endblock container %}

    <!-- Site footer -->
    {% block footer %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'bootstrap-select-1.13.9/dist/js/i18n/defaults-en_US.min.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>


