{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block container %}
  {% comment %} Buttons bar {% endcomment %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 col-md-6 p-3 p-md-5">
        <div class="col-12 p-0 px-md-5">
          <button type="button" class="col-12 btn btn-default">Home</button>
        </div>
      </div>
      <div class="col-12 col-md-6 p-3 p-md-5">
        <div class="col-12 p-0 px-md-5">
          <button type="button" class="col-12 btn btn-default">Share this KYP</button>
        </div>
      </div>
    </div>
  </div>
  {% comment %} Card Header {% endcomment %}
  <div class="col-md-12">
    <div class="row mx-5">
      <h1 class="col-12 text-uppercase text-center">PARTNER NAME</h1>
    </div>
    <div class="row col-12 mx-0 mx-md-5 mt-0 mt-md-5">
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/gold.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Partnership Level</h4>
          </div>
          <div class="col-12">
            <h1>Gold Partner</h1>
          </div>   
        </div>
      </div>
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/risk.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Risk Assessment</h4>
          </div>
          <div class="col-12">
            <h1>Neutral</h1>
          </div>   
        </div>
      </div>
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/service.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Services Offered/Pitched</h4>
          </div>
          <div class="col-12">
            <h1>PMU, Strategy</h1>
          </div>   
        </div>
      </div>
    </div>
  </div>
  {% comment %} Card Progress  {% endcomment %}
  <div class="col-md-12">
    <div class="row p-5">
      <div class="col-12 col-md-12 p-3 p-md-5">
        <div class="progress w-100" style="height: 2.4rem;">
          <div class="progress-bar start-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 19%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar end-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div> 
      </div>
    </div>
  </div>

  {% comment %} 
    <div class="col-md-12 text-center">
      <a class="loginBtn loginBtn--google" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </div>
  {% endcomment %}
{% endblock %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
