{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block container %}
  {% comment %} Buttons bar {% endcomment %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-12 col-md-6 p-3 p-md-5">
        <div class="col-12 p-0 px-md-5">
          <button type="button" class="col-12 btn btn-default">Home</button>
        </div>
      </div>
      <div class="col-12 col-md-6 p-3 p-md-5">
        <div class="col-12 p-0 px-md-5">
          <button type="button" class="col-12 btn btn-default">Share this KYP</button>
        </div>
      </div>
    </div>
  </div>
  {% comment %} Card Header {% endcomment %}
  <div class="col-md-12">
    <div class="row mx-5">
      <h1 class="col-12 text-uppercase text-center">PARTNER NAME</h1>
    </div>
    <div class="row col-12 mx-0 mx-md-5 mt-0 mt-md-5">
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/gold.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Partnership Level</h4>
          </div>
          <div class="col-12">
            <h1>Gold Partner</h1>
          </div>   
        </div>
      </div>
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/risk.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Risk Assessment</h4>
          </div>
          <div class="col-12">
            <h1>Neutral</h1>
          </div>   
        </div>
      </div>
      <div class="row col-12 col-md-4">
        <div class="col-4">
          <img class="img-fluid img-contain h-100" src="{% static 'site/img/service.png' %}"/>  
        </div>
        <div class="col-8 p-0 pt-md-5">
          <div class="col-12">
            <h4>Services Offered/Pitched</h4>
          </div>
          <div class="col-12">
            <h1>PMU, Strategy</h1>
          </div>   
        </div>
      </div>
    </div>
  </div>
  {% comment %} Card Progress  {% endcomment %}
  <div class="col-md-12">
    <div class="row p-5">
      <div class="col-12 col-md-12 px-3 px-md-5 pt-3 pt-md-5">
        <div class="progress bg-status w-100" style="height: 2.4rem;">
          <div class="progress-bar bg-default start-bar bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">KYP complete</div>
          <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Proposal sent/received<a href ="https://speed.hetzner.de/100MB.bin">Download</a></div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 19%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">MoU Signed</div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Partnership Kicked off</div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Project Review</div>
          <div class="progress-bar bg-default" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
          <div class="progress-bar bg-default end-bar" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
        </div> 
      </div>
    </div>
  </div>
  {% comment %} Brief Description  {% endcomment %}
  <div class="col-md-12">
    <div class="row px-5">
      <div class="col-12 col-md-12 px-3 px-md-5">
        <span>
          Brief about the Partner. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        </span>
      </div>
    </div>
  </div>
  {% comment %} KYP details and CSR Priorities {% endcomment %}
  <div class="col-md-12">
    <div class="row p-5">
      <div class="col-12 col-md-12 p-3 p-md-5">
        <div class="col-12 col-md-12 default-card py-3">
          <div class="row col-12 col-md-12">
            <div class="col-12 col-md-5 px-1 px-md-1">
              <div class="card-split-right h-100">
                <span class="h1 pb-1 text-highlight">KYP Details</span>
                <div class="mt-3 card-details">
                  <p>Entity Name: ZXCV Pvt. Ltd.</p>
                  <p>Vision: Qwerty Vision</p>
                  <p>CEO/MD: Qwerty name</p>
                  <p>Industry: Aviation</p>
                  <p>Location: Delhi, Mumbai</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-7 px-1 px-md-0">
              <div class="pl-0 pl-md-3">
                <span class="h1 pb-1 text-highlight">CSR Priorities</span>
                <div class="mt-3 card-details">
                  <p>Budget (est): INR 1,00,00,000</p>
                  <p>Location: Palghar, Pune, Vashi</p>
                  <p>Focus Cause Area: WASH, Education, Livelihood</p>
                  <p>NGO Partners: NGO1, NGO2, NGO3</p>
                  <p>Previous Programs: Program 1 Details</p>
                  <p>Partner POC: XYC Name</p>
                  <p>POC Designation: CSR head</p>
                  <p>Internal POC: Sarva Damini</p>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  {% comment %} Prechecks Prior to engagement {% endcomment %}
  <div class="col-md-12">
    <div class="row px-5">
      <div class="col-12 col-md-12 px-3 px-md-5">
        <div class="col-12 col-md-12 default-card py-3">
          <div class="row col-12 col-md-12">
            <div class="col-12 col-md-12 px-1 px-md-1">
              <div class="row h-100">
                  <div class="col-12">
                    <span class="h1 pb-1 text-highlight">Prechecks prior to Engagement</span>
                  </div>
                  <div class="col-6">
                    <div class="row mt-3 card-checks">
                      <span class="col-12 h1 pb-1">Strategy</span>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/yes.png' %}"/>  
                      </div>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/no.png' %}"/>  
                      </div>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/yes.png' %}"/>  
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row mt-3 card-checks">
                      <span class="col-12 h1 pb-1">Structure</span>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/no.png' %}"/>  
                      </div>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/yes.png' %}"/>  
                      </div>
                      <div class="col-10 mb-5">
                        <p>Does the partnership align to our organizational mission, vision, objective & goals?</p>
                      </div>
                      <div class="col-2 mb-5">
                        <img class="img-fluid img-contain h-100" src="{% static 'site/img/no.png' %}"/>  
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  {% comment %} 
    <div class="col-md-12 text-center">
      <a class="loginBtn loginBtn--google" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </div>
  {% endcomment %}
{% endblock %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}
