{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block container %}
    {% comment %} Search and Filter Start {% endcomment %}
    <div class="row py-3 px-5">
        <div class="col-12">
            <form>
                <div class="form-groupmb-4">
                    <input id="partnerSearch" type="text" placeholder="Search for your partners here" class="form-control form-control-underlined font-color-inactive p-2">
                </div>
            </form>
        </div>
        <div class="col-12 py-3">
            <span class="h3 pb-0 pb-md-1 text-highlight">Partner</span>
        </div>
        <div class="row col-12 py-3">
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Level" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Level</option>
                    <option>Platinum</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Location" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Location</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Industry" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Industry</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Risk" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Risk</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Offering" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Offering</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Type" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Type</option>
                </select>
            </div>
        </div>
        <div class="col-12 py-3">
            <span class="h3 pb-0 pb-md-1 text-highlight">CSR</span>
        </div>
        <div class="row col-12 py-3">
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Budget" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Budget</option>
                    <option>Platinum</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Location" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Location</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Cause Area" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Cause Area</option>
                </select>
            </div>
            <div class="col-6 col-md-2 py-3">
                <select multiple title="POC" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>POC</option>
                </select>
            </div>
        </div>
        <div class="col-12 py-3">
            <span class="h3 pb-0 pb-md-1 text-highlight">Status</span>
        </div>
        <div class="row col-12 py-3">
            <div class="col-6 col-md-2 py-3">
                <select multiple title="Status" data-style="bg-white btn-default rounded-pill px-4 py-3 shadow-sm " class="selectpicker w-100">
                    <option>Status</option>
                    <option>Platinum</option>
                </select>
            </div>
        </div>
        <div class="col-12 py-3">
          <button type="button" class="col-12 btn btn-default">Apply Filter</button>
        </div>
    </div>
    {% comment %} Search and Filter End {% endcomment %}
    {% comment %} Card Start {% endcomment %}
    {% for prop in proposal_dict %}
    <div class="col-12">
        <div class="row p-5">
            <div class="col-12 col-md-12 py-3 default-card">
                    {% comment %} Card Header Start{% endcomment %}
                    {{ prop.id}}
                    <div class="col-md-12">
                        <div class="row mx-5">
                            {% for k,v in org.items %}
                                {% if k == prop.id %}
                                    <h1 class="col-12 text-uppercase text-center">{{v}}</h1>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row col-12 mx-0 mx-md-0 mt-0 mt-md-0">
                            <div class="row col-12 col-md-4 m-0">
                                <div class="col-4">
                                    <img class="img-fluid img-contain h-100" src="{% static 'site/img/gold.png' %}"/>  
                                </div>
                                <div class="col-8 p-0 pt-md-5">
                                    <div class="col-12">
                                        <h4>Partnership Level</h4>
                                    </div>
                                    <div class="col-12">
                                        {% for k,v in  partner_level.items %}
                                            {% if k == prop.id %}
                                                <h1>{{v}}</h1>
                                            {% endif %}
                                        {% endfor %}
                                    </div>   
                                </div>
                            </div>
                            <div class="row col-12 col-md-4 m-0">
                                <div class="col-4">
                                    <img class="img-fluid img-contain h-100" src="{% static 'site/img/risk.png' %}"/>  
                                </div>
                                <div class="col-8 p-0 pt-md-5">
                                    <div class="col-12">
                                        <h4>Risk Assessment</h4>
                                    </div>
                                    <div class="col-12">
                                        {% for k,v in  risk_level.items %}
                                            {% if k == prop.id %}
                                                <h1>{{v}}</h1>
                                            {% endif %}
                                        {% endfor %}
                                    </div>   
                                </div>
                            </div>
                            <div class="row col-12 col-md-4 m-0">
                                <div class="col-4">
                                    <img class="img-fluid img-contain h-100" src="{% static 'site/img/service.png' %}"/>  
                                </div>
                                <div class="col-8 p-0 pt-md-5">
                                    <div class="col-12">
                                        <h4>Services Offered/Pitched</h4>
                                    </div>
                                    <div class="col-12">
                                        <h3>
                                        {% for k,v in services_off.items %}
                                            {% if k == prop.id %}
                                                {% for service in v %}
                                                {% if forloop.last %}
                                                {{service}}
                                                {% else %}
                                                {{service}},
                                                {% endif %}
                                                {% empty %}
                                                No Services Engaged
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </h3>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} Card Progress  {% endcomment %}
                    <div class="col-md-12">
                        <div class="row p-5">
                        <div class="col-12 col-md-12 px-3 px-md-0 pt-3 pt-md-0">
                            <div class="progress bg-status w-100" style="height: 3rem;">
                            {% for k,v in kyp_comp_total.items %}
                                {% if kyp_comp == 100 %}
                                    <div class="progress-bar bg-default start-bar bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">KYP complete</div>
                                {% else %}
                                    <div class="progress-bar bg-default start-bar font-primary" title="KYP {{kyp_comp}}% complete" role="progressbar" style="width: 13.5%" aria-valuenow="{{kyp_comp}}" aria-valuemin="0" aria-valuemax="100">KYP pending</div>
                                {% endif %}
                            {% endfor %}
                            {% if prop_sent %}
                                <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><a href ="{{prop_file.doc.url}}">Proposal sent/received <br/><u>Download</u></a></div>
                            {% else %}
                                <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Proposal pending</div>
                            {% endif %}
                            {% if mou_signed %}
                                <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 19%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><a href ="{{mou_file.doc.url}}">MoU Signed <br/><u>Download</u></a></div>
                            {% else %}
                                <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 19%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">MoU pending</div>
                            {% endif %}
                            {% if projstart %}
                                <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Partnership Kicked off</div>
                            {% else %}
                                <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Kick off pending</div>
                            {% endif %}
                            {% if projreport %}
                                <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Project Review</div>
                            {% else %}
                                <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Project Review</div>
                            {% endif %}
                            {% if impactreport %}
                                <div class="progress-bar bg-default bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
                            {% else %}
                                <div class="progress-bar bg-default font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Impact Review</div>
                            {% endif %}
                            {% if finreview %}
                                <div class="progress-bar bg-default end-bar bg-fin" role="progressbar" style="width: 13.5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Financial Review</div>
                            {% else %}
                                <div class="progress-bar bg-default end-bar font-primary" role="progressbar" style="width: 13.5%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Financial Review</div>
                            {% endif %}
                            </div> 
                        </div>
                        </div>
                    </div>
                    {% comment %} Brief Description  {% endcomment %}
                    <div class="col-md-12">
                        <div class="row px-5">
                        <div class="col-12 col-md-12 px-3 px-md-0">
                            <span>
                            {% if proposal.description %}
                            <b>Proposal Description</b>
                            <br/>
                            Proposal
                            {{proposal.description}}
                            <br/>
                            {% endif %}
                            {% if org.mkt_position %}
                            <b>Market Position</b>
                            <br/>
                            {{org.mkt_position}}
                            <br/>
                            {% endif %}
                            {% if org.risks %}
                            <b>Risks</b>
                            <br/>
                            {{org.risks}}
                            {% endif %}
                            </span>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% comment %} Card end {% endcomment %}
    
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.selectpicker').attr({"data-live-search":"true","data-actions-box":"true","data-deselect-all-text":"NONE","data-select-all-text":"ALL"})
            $('.selectpicker').selectpicker();
        });
    </script>
    <script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}